<md-content layout-padding>
  <form ng-submit="dados.nome && list.novaTurma(dados)" layout="row">
    <md-input-container flex>
      <label>Nome para nova turma</label>
      <input ng-model="dados.nome"/>
    </md-input-container>
    <md-input-container>
      <md-button class="md-raised md-primary"
                 aria-label="Adicionar nova turma"
                 ng-disabled="!dados.nome">
        Adicionar
      </md-button>
    </md-input-container>
  </form>
  <md-list ng-cloak>
    <md-subheader class="md-no-sticky">Turmas</md-subheader>
    <md-divider></md-divider>
    <md-list-item ng-repeat="turma in list.turmas track by $index"
                  ng-click="list.abrirForm(turma)">
      <p>{{ turma.nome }}</p>
      <md-icon md-font-icon="fa-pencil-square-o" class="fa fa-2x"></md-icon>
    </md-list-item>
    <md-list-item ng-if="list.loaded && !list.turmas.length">
      Nenhuma turma foi cadastrada até o momento.
    </md-list-item>
  </md-list>
</md-content>
