.main-content {
  md-toolbar {
    .md-button {
      min-width: 0;
    }

    a.md-icon-button {
      img {
        position: relative;
        top: -8px;
        left: -8px;
        width: $toolbar-height-mobile-landscape - 5px;
        height: $toolbar-height-mobile-landscape - 5px;
      }
    }
  }
}
