<md-content class="md-padding">
  <md-button class="md-icon-button" aria-label="Voltar" ng-click="view.voltar()">
    <md-icon md-font-icon="fa-arrow-left " class="fa fa-2x"></md-icon>
  </md-button>
  <div layout="row">
    <h1 flex class="center">{{ view.turma.nome }}</h1>
    <md-button class="md-icon-button" aria-label="Editar turma" ng-click="view.editar()">
      <md-icon md-font-icon="fa-pencil-square-o" class="fa fa-2x"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Excluir turma" ng-click="view.excluir($event)">
      <md-icon md-font-icon="fa-trash" class="fa fa-2x"></md-icon>
    </md-button>
  </div>
  {{ view.turma | json }}

  {{ view.alunos | json }}
</md-content>
